.cart {
  border: 2px solid blue;
  width: 100%;
  height: 40vh;
  padding: 7.5rem .5rem;
}
.cart-content{
    margin-left: 1rem;
    font-weight: 800;
}
.btn {
    background-color: goldenrod;
    cursor: pointer;
    padding: .5rem 8rem;
    border: none;
    border-radius: 8px;
}
